.app {
	margin: 40px 0 80px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		min-width: none;
		flex: 0 0 460px;
		padding-right: 60px;
		h1 {
			font-size: 32px;
  		font-weight: 500;
  		line-height: 47px;
  		color: $color--dark-main;
			text-align: center;
			margin-bottom: 40px;
		}
	}
	&__img {
		align-self: flex-end;
	}
	&__desc {
		font-size: 15px;
		line-height: 28px;
		color: $color--gray-main;
		margin-bottom: 40px;
	}
	&__links {
		@extend %plain-list;
		display: flex;
		h2 {
			margin: 0;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: $color--dark-main;
		}
		li {
			text-align: center;
		}
		a > img {
			height: 50px;
			margin: 0 auto;
		}
	}
	&__ios {
		margin-right: 20px;
	}
	&__android {
		flex-basis: 240px;
		.app__qr {
			padding: 6px;
		}
	}
	&__qr {
		width: 100px;
		margin: 0 auto 10px;
	}
	&__kesimi {
		display: block;
		text-decoration: none;
		background-color: #879e5a;
		color: #fff;
		font-size: 15px;
  	line-height: 24px;
		border-radius: 8px;
		height: 50px;
		white-space: pre-wrap;
		border: #eee 1px solid;
		padding: 0 10px;
	}
}