.explanation {
  h1 {
    margin-top: 48px;
    margin-bottom: 36px;
		font-size: 28px;
		font-weight: 300;
		text-align: center;
		color: $color--dark-main;
  }
	h2 {
    height: 36px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
		color: $color--dark-main;
	}
	section {
		margin-bottom: 40px;
	}
	&__ul {
		> li {
			font-size: 18px;
			font-weight: 500;
			line-height: 33px;
			color: $color--gray-main;
		}
	}
	&__note {
		display: table;
		border-radius: 21px;
		background-color: #ead994;
		font-size: 18px;
		font-weight: 500;
		line-height: 42px;
		color: $color--gray-main;
		padding: 0 30px;
		text-align: center;
		margin: 0 auto 60px;
	}
}

.lmj-note {
	@extend %plain-list;
	background-color: $color--light-gray;
	margin: 0 0 15px;
	padding: 10px 20px;
	border-radius: 5px;
	> li {
		display: flex;
		margin-bottom: 15px;
		h3 {
			font-size: 1em;
			flex: 0 0 183px;
			text-align: right;
			padding-right: 33px;
			position: relative;
		}
		h3::after {
			content: '—';
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 10px;
		}
	}
}

.regex-note {
	@extend %plain-list;
	> li {
		margin-bottom: 10px;
	}
	h3 {
		color: $color--fade-main;
		font-size: 18px;
    font-weight: 500;
    line-height: 36px;
		padding-left: 20px;
	}
	ol {
		padding-left: 26px;
	}
	&__content {
		padding-left: 80px;
		color: $color--gray-main;
		line-height: 27px;
	}
}