footer {
	width: 100%;
	height: 40px;
	position: absolute;
    bottom: 0;
}

.footer-bg1 {
    background-color: white;
}

.footer-bg2 {
	background-color: #5b9564;
}

.footer-bg3 {
	background-color: #d0e3d0;
}

#footer-image {
	background-image: url(/images/poweredby-long-i@2x.png);
	background-size: 208px 26px;
	position: relative;
	display: block;
	width: 208px;
	height: 26px;
	margin-left: auto;
	margin-right: auto;
	top: 7px;
}

#footer-top-container {
    position: relative;
    height: 60px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#visit-container {
    position: absolute;
    height: 20px;
    margin-top: 15px;
}

#visit-container > div {
    height: 21px;
    font-size: 13px;
    line-height: 21px;
}

.visit-container-w > div {
    color: #d0e3d0;
}

.visit-container-b > div {
    color: #3F4D38;
}

#locale-container {
    width: 200px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.locale-button {
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.locale-button-w {
    color: white;
}

.locale-button-g {
    color: #3F4D38;
}

.locale-button-selected {
    border-radius: 2px;
    border: solid 1px white;
}

.locale-button-selected-g {
    border-radius: 2px;
    border: solid 1px #657160;
}

#since-container {
    position: absolute;
    height: 30px;
    top: 0px;
    right: 0px;
    font-size: 13px;
    text-align: right;
}

#since-container > * {
    display: block;
    margin-top: 6px;
}