header {
	position: fixed !important;
	height: 55px;
	width: 100%;
	top: 0;
	background-color: white;
	border-bottom: 1px solid #BEC2BC;
	z-index: 999;
}

#logo {
	position: absolute;
	left: 23px;
	top: 12px;
}

#header-right {
	display: inline-block;
	position: absolute;
	right: 23px;
	height: 100%;
}

#FB-link {
	background-image: url(/images/fb@2x.png);
	background-size: 22px 22px;
	height: 22px;
	width: 22px;
}

.menu-item {
	position: relative;
	float: right;
	height: 22px;
	top: 50%;
	margin-top: -11px;
}

.menu-text {
	font-size: 15px;
	line-height: 21px;
	text-decoration: none;
	color: #657160;
	margin-right: 34px;
}

.menu-item-select {
	color: #23672e;
}

.menu-item-select::after {
	content: "";
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: -14px;
	width: 30px;
	height: 4px;
	background-color: #23672e;
}

.menu-item-not-select {
	color: #23672e;
}

.menu-item-not-select::after {
	content: "";
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: -14px;
	width: 30px;
	height: 4px;
	background-color: #23672e22;
}