.search_actions {
    margin-top: 7px;
    margin-bottom: 6px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search_actions_clear_button {
    width: auto;
}

.search_actions_search_button {
    width: auto;
}

.clear-button {
    height: 48px;
    margin-left: 20px;
    margin-right: auto;
    padding: 0;
    border-radius: 2px;
    box-shadow: $shadow--basic;
    background-color: white;
    background-image: url(/images/clear@2x.png);
    background-repeat: no-repeat;
    background-size: 22px 18px;
    background-position: 114px center; 
    border: solid 1px $color--main;
    font-size: 18px;
    font-weight: normal;
    line-height: 48px;
    color: #808380;
    padding-left: 20px;
    padding-right: 44px;
    background-position: right 14px center;
}

.clear-button:active {
	background-image: url(/images/clear_w@2x.png);
    background-color: $color--main;
    box-shadow: none;
    color: white;
}

.find-button {
    height: 48px;
    margin-left: auto;
    margin-right: 20px;
    padding: 0;
    border-radius: 2px;
    box-shadow: $shadow--basic;
    background-color: white;
    background-image: url(/images/magnifier@2x.png);
    background-repeat: no-repeat;
    background-size: 22px 18px;
    background-position: 114px center; 
    border: solid 1px $color--main;
    font-size: 18px;
    font-weight: normal;
    line-height: 48px;
    color: $color--main;
    padding-left: 20px;
    padding-right: 44px;
    background-position: right 14px center;
}

.find-button:active {
	background-image: url(/images/magnifier_w@2x.png);
    background-color: $color--main;
    box-shadow: none;
    color: white;
}
