.btn {
  height: 48px;
  padding: 0 20px;
  border-radius: 2px;
  box-shadow: $shadow--basic;
  background-color: white;
  border: solid 1px $color--main;
  font-size: 18px;
  font-weight: normal;
  line-height: 48px;
  color: $color--main;
  text-decoration: none;
  white-space: nowrap;
  &--search, &--clear {
    background-repeat: no-repeat;
    background-size: 22px 18px;
    background-position: right 14px center;
    padding-right: 44px;
  }
  &--search {
    background-image: url(/images/magnifier@2x.png);
  }
  &--clear {
    background-image: url(/images/clear@2x.png);
    color: #808380;
  }
  &--contact {
    box-shadow: none;
    border-color: #babfb7;
    cursor: pointer;
    background-repeat: no-repeat;
    font-size: 26px;
    font-weight: 500;
    color: #babfb7;
    height: 168px;
    line-height: 168px;
    background-image: url(/images/arrow@2x.png);
	  background-size: 61px 16px;
    background-position: center right 60px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
      box-shadow: $shadow--basic;
      border-color: $color--main;
      color: #43944f;
      background-image: url(/images/arrow_g@2x.png);
    }
  }
  &--contact-msg, &--contact-mail {
    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      margin: 0 60px 0 40px;
    }
  }
  &--contact-msg::before {
    width: 70px;
    height: 60px;
    background-image: url(/images/chat_normal@2x.png);
    background-size: 70px 60px;
  }
  &--contact-msg:hover::before {
    background-image: url(/images/chat_click@2x.png);
  }
  &--contact-mail::before {
    width: 70px;
    height: 52px;
    background-image: url(/images/mail_normal@2x.png);
    background-size: 70px 52px;
  }
  &--contact-mail:hover::before {
    background-image: url(/images/mail_click@2x.png);
  }
}

.radio-simulated {
  display: inline-flex;
  align-items: center;
  &__hidden {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
    &:checked ~ .radio-simulated__text::before {
      background-image: url(/images/radio_checked@2x.png);
    }
    &:checked:focus ~ .radio-simulated__text::before {
      background-image: url(/images/radio_checked_focus@2x.png);
    }
    &:focus ~ .radio-simulated__text::before {
      background-image: url(/images/radio_focus@2x.png);
    }
  }
  &__text {
    display: flex;
    align-items: center;
    &::before {
      content: "";
			display: block;
			width: 18px;
			height: 18px;
			background-size: 18px 18px;
      background-image: url(/images/radio@2x.png);
      margin-right: 5px;
    }
  }
}

.search-block {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  &__left {
    flex: 0 0 150px;
    text-align: right;
    padding-right: 10px;
    line-height: 34px;
  }
  &__right {
    flex-grow: 1;
  }
}

.search-actions {
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 20px;
  }
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  svg {
    width: 100px;
    height: 100px;
    fill: #8bbe56;
  }
}