$color--main: #43944f;
$color--fade-main: #5b9564;
$color--dark-main: #23672e;
$color--fade-dark-main: #3F4D38;
$color--light-main: #d0e3d0;
$shadow--basic: 0 4px 2px 0 rgba(0, 0, 0, 0.16);

%plain-list {
  margin: 0;
  padding: 0;
  list-style: none;
}