.about-title {
	height: 41px;
	text-align: center;
	line-height: 41px;
	font-size: 28px;
  	font-weight: 300;
	color: #23672e;
}
#introduction-title {
	padding-top: 48px;
	padding-bottom: 16px;
}

#brief-container {
	background-color: #5b9564;
}

#brief-ul {
	width: 820px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-top: 40px;
}

.brief-li {
	font-size: 18px;
  	font-weight: lighter;
	list-style: none;
	color: #f7f7f7;
	line-height: 28px;
	margin-bottom: 39px;
}

.brief-li::before {
	content: "";
	border: 4px white solid !important;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: -16px;
	position: absolute;
}

#feature-container {
	height: 740px;
}

#feature-title {
	padding-top: 48px;
}

.feature-card-three-columns {
	position: relative;
	width: 1020px;
	height: 310px;
	margin-left: auto;
	margin-right: auto;
}

.feature-card-two-columns {
	position: relative;
	width: 680px;
	height: 284px;
	margin-left: auto;
	margin-right: auto;
}

.feature-card {
	position: relative;
	float: left;
	width: 340px;
	height: 100%;
}

.feature-card > img {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.feature-card-title {
	position: absolute;
	top: 150px;
	left: 0;
	height: 36px;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	color: #5b9564;
}

.feature-card-content {
	position: absolute;
	top: 196px;
	left: 47px;
	width: 246px;
	text-align: center;
	font-size: 15px;
	line-height: 23px;
	color: #657160;
}

#feature-1 {
	top: 31px;
}

#feature-2 {
	top: 29px;
}

#feature-3 {
	top: 47px;
}

#feature-4 {
	top: 38px;
}

#feature-5 {
	top: 47px;
}

#join-container {
	height: 524px;
  	background-color: #e9efdf;
}

#join-title {
	padding-top: 16px;
	padding-bottom: 16px;
}

.join-box {
	position: relative;
	width: 874px;
	height: 198px;
	margin: 0 auto 10px auto;
	border-radius: 5px;
	background-color: #ffffff;
}

.join-box > div {
	font-size: 22px;
	font-weight: 500;
	line-height: 33px;
  	color: #3f4d38;
}

#join-box-1 > div {
	position: absolute;
	width: 470px;
	top: 40px;
	left: 350px;
}

#join-box-1 > img {
	position: absolute;
	left: 100px;
	bottom: 0;
}

#join-box-1 > button {
	position: absolute;
	width: 20px;
	height: 30px;
	left: 350px;
	bottom: 49px;
	background-image: url('/images/Slide down@2x.png');
	background-size: 20px 30px;
}

#join-box-1 > span {
	position: absolute;
	height: 22px;
	left: 385px;
	bottom: 53px;
	font-size: 15px;
	font-weight: normal;
	line-height: 22px;
	color: #657160;
	cursor: pointer;
}

#join-box-2 > div {
	position: absolute;
	width: 420px;
	left: 90px;
	top: 30px;
}

#join-box-2 > button {
	position: absolute;
	width: 174px;
	height: 46px;
	left: 90px;
	bottom: 45px;
	border-radius: 2px;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #43944f;
	font-size: 18px;
	font-weight: 500;
	color: #43944f;
}

#join-box-2 > button:active {
	box-shadow: none;
}

#join-box-2 > img {
	position: absolute;
	right: 127px;
	bottom: 9px;
}

#seeking-container {
	margin: 90px auto 0 auto;
	width: 858px;
	border: 8px solid #82b28e;
	border-image: url(/images/grid@2x.png) 16 round;
}

#seeking-title {
	position: relative;
	top: -26px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	height: 41px;
	text-align: center;
	line-height: 41px;
	background-color: white;
}

#seeking-ol {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}

#seeking-ol > li {
	margin-bottom: 26px;
	font-size: 20px;
	font-weight: 500;
	color: #3f4d38;
	line-height: 27px;
}

#contact-container {
	height: 451px;
	width: 874px;
	margin-left: auto;
	margin-right: auto;
}

#contact-title {
	padding-top: 70px;
	padding-bottom: 30px;
}

#contact-buttons-container {
	display: grid;
	width: 100%;
	height: 170px;
	grid-template-areas: 'a a';
	grid-column-gap: 22px;
}

.contact-button {
	position: relative;
	display: inline-block;
	width: 424px;
	height: 168px;
	border-radius: 2px;
	border: solid 1px #babfb7;
	cursor: pointer;
	background-repeat: no-repeat;
}

.contact-button:hover {
	width: 424px;
	height: 168px;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #43944f;
}

.contact-button > span {
	position: absolute;
	width: 170px;
    left: 150px;
	height: 168px;
	font-size: 26px;
	font-weight: 500;
	line-height: 168px;
	color: #babfb7;
	text-align: center;
}

.contact-button:hover > span {
	color: #43944f;
}

.contact-button > div {
	position: absolute;
	width: 61px;
	height: 16px;
	right: 50px;
	top: 76px;
	background-image: url(/images/arrow@2x.png);
	background-size: 61px 16px;
}

.contact-button:hover > div {
	background-image: url(/images/arrow_g@2x.png);
}

#contact-button-1 {
	background-image: url(/images/chat_normal@2x.png);
	background-size: 70px 60px;
	background-position: 57px 55px;
}

#contact-button-1:hover {
	background-image: url(/images/chat_click@2x.png);
}

#contact-button-2 {
	background-image: url(/images/mail_normal@2x.png);
	background-size: 70px 52px;
	background-position: 57px 59px;
}

#contact-button-2:hover {
	background-image: url(/images/mail_click@2x.png);
}

#members-container {
	height: 450px;
}

#former-members-container {
	height: 300px;
	width: 820px;
}

#members-title {
	padding-bottom: 29px;
}

.person-card-three-columns {
	position: relative;
	width: 1020px;
	height: 305px;
	margin-left: auto;
	margin-right: auto;
}

.person-card-two-columns {
	position: relative;
	width: 680px;
	height: 305px;
	margin-left: auto;
	margin-right: auto;
}

.former-person-card-five-columns {
	position: relative;
	height: 305px;
	margin-left: auto;
	margin-right: auto;
}

.person-card {
	float: left;
	width: 340px;
	height: 100%;
}

.profile {
	display: block;
	width: 118px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #C7C7C7;
	border-radius: 60px;
}

.name {
	width: 340px;
	height: 36px;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	color: #3f4d38;
	text-align: center;
	margin-top: 14px;
}

.title {
	width: 340px;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	color: #3f4d38;
	text-align: center;
	margin-top: 5px;
}

.description {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	line-height: 21px;
	color: #707070;
	text-align: center;
	margin-top: 1px;
}

.person-card-small {
	float: left;
	width: 204px;
	height: 100%;
}

.profile-small {
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #C7C7C7;
	border-radius: 60px;
}

.name-small {
	width: 200px;
	height: 36px;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	color: #3f4d38;
	text-align: center;
	margin-top: 14px;
}

.title-small {
	width: 200px;
	height: 34px;
	font-size: 12px;
	line-height: 20px;
	color: #3f4d38;
	text-align: center;
	margin-top: 5px;
}

.description-small {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	line-height: 21px;
	color: #707070;
	text-align: center;
	margin-top: 10px;
}

#authorization {
	margin-top: 225px;
	height: 168px;
}

#authorization-title-container {
	position: relative;
	width: 400px;
	height: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

#authorization-title {
	position: absolute;
	width: 400px;
	height: 50px;
	top: -25px;
	border-radius: 2px;
	background-color: #93ac64;
	font-size: 22px;
	line-height: 50px;
	color: white;
	text-align: center;
}

#authorization-left-bg {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	background-color: #E8EEDB;
}

#authorization-right-bg {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	background-color: #D8E3C3;
}

#authorization-content-center {
	position: absolute;
	width: 100%;
}

#authorization-content {
	position: relative;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	height: 168px;
}

.authorization-block {
	display: block;
	position: absolute;
	width: 350px;
	height: 100px;
	top: 46px;
}

.authorization-title {
	height: 36px;
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	color: #3f4d38;
}

.authorization-title::before {
	position: absolute;
	top: 14px;
	left: -25px;
	content: "";
	width: 16px;
	height: 3px;
	background-color: #3f4d38;
}

.authorization-link {
	height: 36px;
	font-size: 18px;
  	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0px;
	color: #3f4d38;
	text-decoration: none;
	border-bottom: 1px solid #3f4d38;
}

#feedback {
	position: relative;
	height: 220px;
}

#feedback-text {
	position: relative;
	width: 1000px;
	height: 33px;
	padding-top: 72px;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
  	font-weight: 500;
	line-height: 33px;
	color: #93ac64;
	text-align: center;
}

#feedback-email {
	display: block;
	position: relative;
	width: 370px;
	height: 26px;
	margin-left: auto;
	margin-right: auto;
	top: 6px;
	font-size: 22px;
  	font-weight: 500;
	line-height: 26px;
	color: #3f4d38;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid #3f4d38;
}