.green-background {
    background-color: #d0e3d0;
}

#advanced-container {
    margin-left: auto;
    margin-right: auto;
    width: 978px;
    padding-top: 30px;
    padding-bottom: 46px;
    text-align: center;
}

#method-buttons-container {
    height: 36px;
}

.method-button {
    float: left;
    border: 0;
    padding: 0;
    min-width: 198px;
    height: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.method-button-selected {
    background-color: white;
    color: #43944f;
    font-weight: 500;
    border-top: solid 2px #43944f;
}

.method-button-unselected {
    background-color: #85937f;
    color: white;
    font-weight: normal;
}

#all-field-form {
    position: relative;
    height: 319px;
    padding-top: 50px;
    text-align: left;
}

#all-field-search-method-container {
    margin-left: auto;
    margin-right: auto;
    width: 586px;
    height: 24px;;
    padding-left: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #3f4d38;
    line-height: 24px;
}

#all-field-radio-1 {
    margin-left: 20px;
}

#all-field-radio-2 {
    margin-left: 15px;
}

#all-field-regex-note-container {
    float: right;
}

.all-field-text-input {
    display: block;
    margin: 16px auto 0 auto;
    width: 580px;
    height: 40px;
    background-color: #eef5ef;
    border: none;
    padding: 0;
    padding-left: 12px;
    font-size: 16px;
}

.all-field-text-input::placeholder {
    font-size: 16px;
    color: #C5D1C0;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 20px;
}

#bg-img {
    display: block;
    position: absolute;
    width: 224px;
    height: 155px;
    left: 49px;
    bottom: -28px;
    background-image: url(/images/pic@2x.png);
    background-size: 224px 155px;
    z-index: 1;
}

#option-container {
    background-color: white;
    
}

#dic-buttons-container {
    display: grid;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px 5px;
}

.dic-button {
    border-radius: 5px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.dic-button-selected {
    background-color: #43944f;
    color: white;
}

.dic-button-unselected {
    background-color: white;
    color: #3f4d38;
    border: solid 1px #b7b7b7;
}

#single-dic-form-container {
    padding-bottom: 16px;
    text-align: left;
}

#single-dic-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    width: 930px;
    background-color: #d6e3d8;
}

#search-method {
    font-size: 16px;
    font-weight: 500;
}

#single-dic-search-method-container {
    width: 559px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-weight: 500;
    color: #3f4d38;
}

#single-dic-radio-2 {
    margin-left: 20px;
}

#single-dic-regex-note-container {
    float: right;
}

#labels-container {
    display: inline-block;
    width: 269px;
    margin-right: 15px;
    padding-top: 5px;
}

.single-dic-label {
    display: block;
    height: 34px;
    margin-top: 13px;
    line-height: 34px;
    font-size: 15px;
    text-align: right;
    color: #3f4d38;
}

#inputs-container {
    display: inline-block;
    width: 559px;
    padding-top: 5px;
}

.single-dic-text-input {
    width: 547px;
    height: 34px;
    margin-top: 13px;
    background-color: white;
    border: none;
    padding: 0;
    padding-left: 12px;
    font-size: 15px;
}

.single-dic-text-input::placeholder {
    font-size: 15px;
    color: #C5D1C0;
    font-weight: lighter;
    letter-spacing: 1px;
}