:target {
    display: block;
    position: relative;
    top: -169px; 
    visibility: hidden;
}

#all-dic-keywords {
    width: 957px;
    height: 38px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    border-radius: 5px;
    background-color: #ebebe7;
    font-size: 18px;
    font-weight: normal;
    line-height: 38px;
    color: #657160;
}

#all-dic-result-num {
    width: 957px;
    height: 15px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    color: #657160;
}

#all-dic-buttons-background {
    position: sticky;
    top: 56px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

#all-dic-buttons-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 979px;
    height: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.all-dic-button {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    word-break: break-all;
    cursor: pointer;
}

.all-dic-button > div {
    display: table;
    height: 100%;
    width: 100%;
}

.all-dic-button > div > span {
    display: table-cell;
    vertical-align: middle;
}

.all-dic-button-selected {
    background-color: #9cb276;
    color: white;
}

.all-dic-button-unselected {
    background-color: white;
    color: #657160;
    border: solid 1px #657160;
}

.all-dic-empty {
    display: inline-block;
    width: 108px;
    height: 50px;
}

#brief-result-container {
    margin-top: 20px;
}

.dic-container {
    position: relative;
    width: 980px;
    margin: 0 auto 50px auto;
}

.dic-title {
    display: inline-block;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #3f4d38;
}

#all-dic-title {
    margin-bottom: 6px;
}

.dic-subtitle {
    display: inline-block;
    height: 30px;
    margin-top: 6px;
    margin-left: 3px;
    font-size: 16px;
    font-weight: normal;
}

.dic-content-container {
    width: 980px;
    border-radius: 5px;
    background-color: #ededed;
    padding-top: 10px;
    padding-bottom: 14px;
}

.show-more-button {
    display: block;
    width: 176px;
    height: 40px;
    margin: 10px auto 0 auto;
    padding: 0;
    border: 0;
    border-radius: 2px;
    background-color: #56865e;
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.16);
    text-decoration: none;
}

.show-more-button:active {
    box-shadow: none;
}
