#banner-container {
    position: relative;
    width: 960px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    position: absolute;
    top: 29px;
    left: 115px;
}

#form-background {
    background-color: #5b9564;
    padding-bottom: 8px;
}

#basic-form {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    font-size: 16px;
    font-weight: 500;
    color: #3f4d38;
}

#search-title {
    height: 42px;
    background-color: #eef5ef;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    color: #23672e;
    padding-left: 43px;
}

#form-container {
    background-color: #d0e3d0;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    text-align: center;
}

#search-method-container {
    height: 42px;
    padding-left: 43px;
    padding-right: 43px;
    line-height: 42px;
    text-align: left;
}

#search-method-text-container {
    width: 150px;
    display: inline-block;
}

.radio > div {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.radio > input {
    display: none;
}

.radio > div[class='checked'] {
    background-image: url(/images/checkbox_select@2x.png);
}

.radio > div[class='unchecked'] {
    background-image: url(/images/checkbox@2x.png);
}

.radio > span {
    margin-left: 5px;
}

#radio-1 {
    margin-left: 12px;
}

#radio-2 {
    margin-left: 20px;
}

#regex-note-container {
    float: right;
}

#regex-note {
    color: #2f893d;
    text-decoration: none;
    border-bottom: 1px solid;
    font-weight: normal;
    font-size: 15px;
}

#seperator {
    height: 2px;
    margin-left: 35px;
    margin-right: 35px;
    opacity: 0.3;
    background-color: #43944f;
}

#input-method {
    width: 874px;
    margin: 9px auto 4px auto;
    text-align: left;
    padding-top: 5px;
}

#input-container {
    text-align: left;
}

#input-container {
    display: inline-block;
}

.text-height {
    display: block;
    height: 34px;
}

.top-space {
    margin-top: 13px;
}

#input-container-left {
    display: inline-block;
    width: 118px;
    padding-top: 10px;
}

#input-container-right {
    display: inline-block;
    width: 700px;
    margin-left: 6px;
}

#large-input-top {
    height: 34px;
    line-height: 34px;
    position: relative;
    background-color: #eef5ef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#radio-3 {
    margin-left: 14px;
    font-weight: normal;
}

#radio-4 {
    margin-left: 20px;
    font-weight: normal;
}

#radio-5 {
    margin-left: 20px;
    font-weight: normal;
}

#radio-6 {
    margin-left: 20px;
    font-weight: normal;
}

#text-input-seperator {
    position: absolute;
    bottom: 0;
    width: 700px;
    height: 1px;
    left: 0px;
    opacity: 0.5;
    background-color: #657160;
}

.input-title {
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: right;
}

.text-input-lomaji {
    height: 34px;
    width: 686px;
    border: none;
    padding-left: 14px;
    background-color: #eef5ef;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 34px;
}

.text-input-lomaji::placeholder {
    font-size: 16px;
    color: #C5D1C0;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 34px;
}

.text-input {
    height: 34px;
    width: 686px;
    border: none;
    padding: 0;
    padding-left: 14px;
    background-color: #eef5ef;
    font-size: 16px;
    border-radius: 5px;
    line-height: 34px;
}

.text-input::placeholder {
    font-size: 16px;
    color: #C5D1C0;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 34px;
}

.support_taibun_kesimi {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #eef5ef;
    line-height: 24px;
}

.support_taibun_kesimi_part1_label {
    color: #728d88;
    font-size: 15px;
}

.support_taibun_kesimi_part2_a {
    color: #d19e6d;
    font-size: 16px;
}

.support_taibun_kesimi_part3_label {
    color: #728d88;
    font-size: 15px;
}
