#banner {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    top: 20px;
}

#form-background {
    background-color: #5b9564;
    padding-bottom: 8px;
}

#basic-form {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    font-size: 16px;
    font-weight: 500;
    color: #3f4d38;
}

#search-title {
    height: 42px;
    background-color: #eef5ef;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    color: #23672e;
    padding-left: 43px;
}

#form-container {
    background-color: #d0e3d0;
    height: 370px;
    border-radius: 0 0 5px 5px;
}

#search-method-container {
    height: 54px;
    padding-left: 43px;
    padding-right: 43px;
    line-height: 54px;
}

.radio > div {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.radio > input {
    display: none;
}

.radio > div[class='checked'] {
    background-image: url(images/checkbox_select@2x.png);
}

.radio > div[class='unchecked'] {
    background-image: url(images/checkbox@2x.png);
}

.radio > span {
    margin-left: 4px;
}

#radio-1 {
    margin-left: 10px;
}

#radio-2 {
    margin-left: 28px;
}

#wildcard-note-container {
    float: right;
}

#wildcard-note {
    color: #2f893d;
    text-decoration: none;
    border-bottom: 1px solid;
    font-weight: normal;
    font-size: 15px;
}

#seperator {
    height: 2px;
    margin-left: 43px;
    margin-right: 26px;
    opacity: 0.3;
    background-color: #43944f;
}

#input-container {
    margin-top: 16px;
    padding-left: 43px;
}

#input-container {
    display: inline-block;
}

.text-height {
    display: block;
    height: 34px;
}

.top-space {
    margin-top: 13px;
}

#input-container-left {
    display: inline-block;
}

#input-container-right {
    display: inline-block;
    width: 571px;
    margin-left: 6px;
}

#large-input-top {
    height: 34px;
    line-height: 34px;
    position: relative;
    background-color: #eef5ef;
}

#radio-3 {
    margin-left: 14px;
    font-weight: normal;
}

#radio-4 {
    margin-left: 26px;
    font-weight: normal;
}

#radio-5 {
    margin-left: 26px;
    font-weight: normal;
}

#radio-6 {
    margin-left: 26px;
    font-weight: normal;
}

#text-input-seperator {
    position: absolute;
    bottom: 0;
    width: 538px;
    height: 1px;
    left: 12px;
    opacity: 0.5;
    background-color: #657160;
}

.input-title {
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: right;
}

.text-input {
    height: 34px;
    width: 557px;
    border: none;
    padding: 0;
    background-color: #eef5ef;
    padding-left: 14px;
    font-size: 16px;
}

.text-input::placeholder {
    font-size: 16px;
    color: #8a9b83;
    font-weight: lighter;
    letter-spacing: 1px;
}
