.brief-word {
    display: block;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-radius: 5px;
    border: solid 1px #99c799;
    overflow: hidden;
}

.header-row {
    min-height: 36px;
}

.brief-word > tbody > tr > th {
    font-size: 15px;
    font-weight: 500;
    color: #3f4d38;
    line-height: 36px;
    background-color: #dbead2;
    text-align: left;
    padding-left: 12px;
}

.content-row {
    min-height: 40px;
}

.brief-word > tbody > tr {
    border-bottom: 1px solid #99c799;
}

.brief-word > tbody > tr:first-child {
    border-bottom: none;
}

.brief-word > tbody > tr:last-child {
    border-bottom: none;
}

.brief-word > tbody > tr > td {
    font-size: 16px;
    font-weight: normal;
    color: #2f3a2a;
    line-height: 26px;
    background-color: white;
    padding: 6px 12px 6px 12px;
    border-right: 1px dashed #99c799;
}

.brief-word > tbody > tr > td:last-child {
    border-right: none;
}

.detail-td {
    width: 44px;
    text-align: center;
}

.detail-td > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #43944f;
}