#poj-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 956px;
    height: 60px;
    padding-left: 24px;
    background-color: #ededed;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    color: #3f4d38;
    border-radius: 5px;
}

#word-container {
    margin-top: 15px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#resource {
    float: right;
    text-decoration: none;
    height: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #2f893d;
    border-bottom: solid 1px #2f893d;
    margin-right: 17px;
}

#fb-comments {
    display: block;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}