#dic-app-container {
    position: relative;
    width: 1024px;
    height: 606px;
    margin-left: auto;
    margin-right: auto;
}

#dic-app-title {
    position: absolute;
    height: 47px;
    left: 68px;
    top: 90px;
    font-size: 32px;
    font-weight: 500;
    line-height: 47px;
    color: #23672e;
}

#dic-app-content {
    position: absolute;
    left: 68px;
    top: 155px;
    width: 334px;
    height: 28px;
    font-size: 15px;
    line-height: 28px;
    color: #657160;
}

#dic-link-group {
    position: absolute;
    width: 339px;
    height: 280px;
    top: 311px;
    left: 68px;
}

#dic-link-1 {
    width: 136px;
    float: left;
}

#dic-link-2 {
    width: 150px;
    float: right;
}

#dic-link-1 > span, #dic-link-2 > span {
    display: block;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

#dic-link-1 > span {
    color: #23672e;
}

#dic-link-2 > span {
    color: #657160;
}

#dic-link-1 > img:nth-child(2), #dic-link-2 > img {
    display: block;
    width: 110px;
    height: 110px;
    margin: 5px auto 19px auto;
}

#dic-link-1 > img:nth-child(2) {
    border: solid 1px #23672e;
}

#dic-link-2 > span:nth-child(3) {
    width: 130px;
    height: 44px;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #879e5a;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: white;
}

#dic-app-img {
    position: absolute;
    top: 95px;
    left: 497px;
}