#explanation-container {
    width: 742px;
    margin-left: auto;
    margin-right: auto;
}

#explanation-title {
    margin-top: 48px;
    margin-bottom: 36px;
    height: 41px;
    font-size: 28px;
    font-weight: 300;
    line-height: 41px;
    text-align: center;
    color: #23672e;
}

.explanation-subtitle {
    height: 36px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #23672e;   
}

#explanation-sec-1 {
    height: 154px;
}

.explanation-li {
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
    color: #657160;
}

#explanation-sec-2 {
    margin-bottom: 46px;
}

.explanation-table {
    width: 718px;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #ededed;
    margin-top: 4px;
    margin-bottom: 13px;
}

.explanation-table > tbody > tr:first-child > td, .explanation-table > tbody > tr:first-child > th {
    padding-top: 10px;
}

.explanation-table > tbody > tr:last-child > td, .explanation-table > tbody > tr:last-child > th {
    padding-bottom: 10px;
}

.explanation-table > tbody > tr > th {
    width: 144px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: #657160;
    vertical-align: top;
}

.explanation-table > tbody > tr > td {
    font-size: 16px;
    text-align: left;
    color: #657160;
}

.explanation-table > tbody > tr > td:nth-child(2) {
    position: relative;
    width: 30px;
}

.explanation-table > tbody > tr > td:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    left: 7px;
    top: 16px;
    background-color: #657160;
}

.explanation-table > tbody > tr:first-child > td:nth-child(2)::after {
    top: 26px;
}

.explanation-table > tbody > tr > td:last-child {
    padding-right: 27px;
}

#explanation-sec-3 {
    margin-bottom: 48px;
}

.explanation-subtitle2 {
    position: relative;
    width: 728px;
    height: 36px;
    left: 14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #5b9564;
    margin-top: 5px;
}

.explanation-content {
    display: inline-block;
    position: relative;
    width: 648px;
    left: 94px;
    font-size: 18px;
    line-height: 27px;
    color: #657160;
}

#explanation-note {
    width: 736px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 21px;
    background-color: #ead994;
    font-size: 18px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #657160;
    margin-bottom: 46px;
}