@font-face {
	font-family: taigiwebfont;
	src: url(others/tshiuthau-oo-taigi.woff);
}

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1024px;
}

body {
	position: relative;
	overflow-y: scroll;
	font-family: 'Noto Sans TC', taigiwebfont, 'Microsoft JhengHei', 'PingFang TC';
	letter-spacing: 1px;
	padding-bottom: 40px;
}

main {
	padding-top: 56px;
}

.fix-width-center {
	position: relative;
	width: 1024px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.lighter {
	font-weight: lighter;
}

.find-button {
    display: block;
    width: 176px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius: 2px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    background-image: url(images/magnifier@2x.png);
    background-repeat: no-repeat;
    background-size: 22px 18px;
    background-position: 114px center; 
    border: solid 1px #43944f;
    font-size: 18px;
    font-weight: normal;
    line-height: 48px;
    color: #43944f;
    padding-right: 14px;
}

.find-button:active {
	background-image: url(images/magnifier_w@2x.png);
    background-color: #43944f;
    box-shadow: none;
    color: white;
}