#keywords {
    width: 957px;
    height: 36px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    border-radius: 5px;
    background-color: #ebebe7;
    font-size: 18px;
    line-height: 36px;
    color: #657160;
}

#single-dic-container {
    width: 978px;
    margin-left: auto;
    margin-right: auto;
}

#single-dic-left-container {
    float: left;
    height: 36px;
}

#single-dic-title {
    height: 36px;
    margin-top: 14px;
    margin-bottom: 17px;
}

#single-dic-right-container{
    float: right;
    height: 30px;
    padding-top: 6px;
}
.dic-pages {
    float: left;
    display: inline-grid;
    height: 30px;
    margin-left: 4px;
    margin-right: 4px;
    grid-column-gap: 4px;
}

.page-button {
    font-size: 14px;
    font-weight: 500;
    color: #657160;
    padding-left: 6px;
    padding-right: 6px;
}

.page-button-selected {
    position: relative;
}

.page-button-selected::after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    bottom: 2px;
    left: 50%;
    margin-left: -8px;
    background-color: #657160;
}

.page-arrow {
    float: left;
    width: 26px;
    height: 30px;
    background-size: 26px 30px;
}

#last-page {
    background-image: url(images/s_arrow_L@2x.png);
}

#next-page {
    background-image: url(images/s_arrow_R@2x.png);
    margin-right: 12px;
}

#single-dic-right-container > span {
    float: left;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    color: #707070;
}

#single-dic-right-container > input {
    float: left;
    width: 40px;
    height: 26px;
    margin: 2px 5px;
    border: solid 1px #b7b7b7;
    border-radius: 2px;
}

#to-top {
    display: block;
    width: 102px;
    height: 26px;
    margin: 22px auto 46px auto;
    border-radius: 2px;
    border: solid 1px #43944f;
    font-size: 13px;
    font-weight: 500;
    color: #43944f;
    line-height: 24px;
    text-align: left;
    padding-left: 8px;
    background-image: url(images/top@2x.png);
    background-size: 15px 15px;
    background-position: 79px 5px;
    background-repeat: no-repeat;
}