#keywords {
    width: 957px;
    height: 36px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    border-radius: 5px;
    background-color: #ebebe7;
    font-size: 18px;
    line-height: 36px;
    color: #657160;
}

#single-dic-title {
    margin-top: 14px;
    margin-bottom: 17px;
}

#single-dic-container {
    width: 978px;
    margin-left: auto;
    margin-right: auto;
}

#to-top {
    display: block;
    width: 102px;
    height: 26px;
    margin: 22px auto 46px auto;
    border-radius: 2px;
    border: solid 1px #43944f;
    font-size: 13px;
    font-weight: 500;
    color: #43944f;
    line-height: 26px;
}