table {
    border-collapse: collapse;
}

tr {
    height: 37px;
}

th {
    width: 285px;
    background-color: #ebf3e6;
    font-size: 16px;
    font-weight: 500;
    color: #2f3a2a;
    border: solid 1px #adc484;
    padding: 0;
    text-align: right;
    padding-right: 15px;
}

td {
    width: 685px;
    font-size: 16px;
    font-weight: normal;
    color: #2f3a2a;
    border: solid 1px #adc484;
    padding: 0;
    text-align: left;
    padding-left: 15px;
}

.detail {
    background-color: #f0f0f0;
    font-size: 17px;
    font-weight: 500;
    line-height: 37px;
    padding: 0;
    text-align: center;
}

.detail > a {
    color: #43944f;
    text-decoration: none;
}
