@font-face {
	font-family: taigiwebfont;
	src: url(others/tshiuthau-oo-taigi.woff);
}

html {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 1024px;
}

body {
	position: relative;
	overflow-y: scroll;
	font-family: 'Noto Sans CJK', taigiwebfont, 'Microsoft Yahei', 'PingFang TC';
	letter-spacing: 1px;
	padding-bottom: 40px;
}

main {
	padding-top: 56px;
}

.fix-width-center {
	position: relative;
	width: 1024px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.lighter {
	font-weight: lighter;
}
